.wrapper {
    background-color: aqua;
    // background-color: $background-color
    img {
        max-width: 400px;
        margin-left: 52;
        margin-right: 10;

    }
}

.page-content {
    background: aqua;
}

body {
    background-color: $background-color
}